/* 400 */
@font-face {
  font-family: 'SFPro-Regular';
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

/* 500 */
@font-face {
  font-family: 'SFPro-Medium';
  src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

/* 600 */
@font-face {
  font-family: 'SFPro-Semi';
  src: url('../assets/fonts/SF-Pro-Display-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: 'SFPro-Bold';
  src: url('../assets/fonts/SF-Pro-Display-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

// 700
@font-face {
  font-family: 'DIN-Bold';
  src: url('../assets/fonts/DIN-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

// 600
@font-face {
  font-family: 'DIN-Medium';
  src: url('../assets/fonts/DIN-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

// 400
@font-face {
  font-family: 'DIN-Regular';
  src: url('../assets/fonts/DIN-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
