* {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

:root {
  --font-family-SFPro-Regular: 'SFPro-Regular', sans-serif;
  --font-famili-SFPro-Medium: 'SFPro-Medium', sans-serif;
  --font-famili-SFPro-Semi: 'SFPro-Semi', sans-serif;
  --font-famili-SFPro-Bold: 'SFPro-Bold', sans-serif;
  --font-family-DIN-Regular: 'DIN-Regular', sans-serif;
  --font-family-DIN-Bold: 'DIN-Bold', sans-serif;
  --font-family-DIN-Medium: 'DIN-Medium', sans-serif;
  /* element-plus */
  --el-checkbox-height: unset;
  /** 下面四个 密码强度组件专用 */
  --password-very-strong-color: #00b505;
  --password-strong-color: #0689ff;
  --password-fair-color: #ff920a;
  --password-weak-color: #ff2c20;
  // background-color
  --bg-color-blue: #00bdc8;
  --bg-color-red: #ed2115;
  --bg-color-loading: rgba(0, 0, 0, 0.6);
  --bg-color-dark: #3498db;
  // color
  --text-color-blank: #fff;
  --text-color-red: #ff6c64;
  --text-color-green: #1bd872;
  --text-color-orange: #ffad32;
  --text-color-dropdown: #1d2129;
  --text-color-wallet: #e7e8e9;
  --text-color-warning: #f01284;
  --text-color-purple: #a285ff;
  --text-color-icon: #b586ff;
  // button
  --bg-button-white: #fff;
  --bg-button-black: #000;
}

/* 浅色主题样式变量 */
.light {
  // background-color
  --bg-color-primary: #fff;
  --bg-color-black: #000;
  --bg-color-dark: #eee;
  --bg-color-body: #fff;
  --bg-color-page: #f2f2f2;
  --bg-color-green: #1bd872;
  --bg-color-gray: rgba(0, 0, 0, 0.05);
  --bg-color-drawer: #fff;
  --bg-color-message: #fff;
  --bg-color-input: #f6f6f6;
  --bg-color-circle: #ededed;
  --bg-color-line: rgba(0, 0, 0, 0.2);
  --bg-color-off: #f6f6f6;
  --bg-color-border: rgba(0, 0, 0, 0.1);
  --bg-color-overlay: rgba(0, 0, 0, 0.4);
  // border-color
  --border-color-primary: rgba(0, 0, 0, 0.05);
  --border-color-white: #fff;
  --border-color-dark: #000;
  --border-color-gray: rgba(0, 0, 0, 0.1);
  --border-color-outline: rgba(0, 0, 0, 0.3);
  --border-color-block: #fff;
  --border-color-line: rgba(0, 0, 0, 0.4);
  // color
  --text-color-black: #000;
  --text-color-primary: #000;
  --text-color-small: rgba(0, 0, 0, 0.5);
  --text-color-white: #fff;
  --text-color-dark: #000;
  --text-color-font: rgba(0, 0, 0, 0.4);
  --text-color-code: rgba(0, 0, 0, 0.2);
  --text-color-placehold: rgba(0, 0, 0, 0.5);
  --text-color-gray: rgba(0, 0, 0, 0.6);
  --text-color-close: rgba(120, 120, 128, 0.12);
  --text-color-cap: rgba(0, 0, 0, 0.7);
  --text-color-search: #a9a9a9;
  --text-color-toast: #0075ff;
  --text-color-off: rgba(60, 60, 67, 0.6);
  --text-color-border: rgba(0, 0, 0, 0.8);
  // font-size
  --font-size-mini: 0.625rem;
  --font-size-xs: 0.8125rem;
  // box-shadow
  --box-shadow-primary: 2px 0 12px 0 rgba(0, 0, 0, 0.26);
  --box-shadow-toast: 0 4px 28px 0 rgba(203, 204, 204, 0.48);
  // password
  --password-button-color: rgba(0, 0, 0, 0.1);
  // element-plus
  --el-color-primary: #000;
}

/* 深色主题样式变量 */
.dark {
  // background-color
  --bg-color-primary: #000;
  --bg-color-black: #fff;
  --bg-color-dark: #141414;
  --bg-color-body: rgba(255, 255, 255, 0.1);
  --bg-color-page: #000;
  --bg-color-green: rgba(255, 255, 255, 0.1);
  --bg-color-gray: rgba(255, 255, 255, 0.1);
  --bg-color-drawer: #1f1f1f;
  --bg-color-message: #333;
  --bg-color-input: rgba(255, 255, 255, 0.1);
  --bg-color-circle: rgba(255, 255, 255, 0.1);
  --bg-color-line: rgba(255, 255, 255, 0.2);
  --bg-color-off: rgba(120, 120, 128, 0.12);
  --bg-color-border: rgba(255, 255, 255, 0.1);
  --bg-color-overlay: rgba(0, 0, 0, 0.7);
  // border-color
  --border-color-primary: rgba(255, 255, 255, 0.1);
  --border-color-dark: #fff;
  --border-color-white: #000;
  --border-color-gray: rgba(255, 255, 255, 0.1);
  --border-color-outline: rgba(255, 255, 255, 0.3);
  --border-color-block: transparent;
  --border-color-line: rgba(255, 255, 255, 0.1);
  // color
  --text-color-black: #fff;
  --text-color-primary: #fff;
  --text-color-small: rgba(255, 255, 255, 0.45);
  --text-color-white: #000;
  --text-color-dark: #00bdc8;
  --text-color-font: rgba(255, 255, 255, 0.5);
  --text-color-code: rgba(255, 255, 255, 0.5);
  --text-color-placehold: rgba(255, 255, 255, 0.5);
  --text-color-gray: rgba(255, 255, 255, 0.5);
  --text-color-close: rgba(255, 255, 255, 0.5);
  --text-color-cap: rgba(255, 255, 255, 0.7);
  --text-color-search: rgba(255, 255, 255, 0.5);
  --text-color-toast: #0689ff;
  --text-color-off: rgba(255, 255, 255, 0.5);
  --text-color-border: rgba(255, 255, 255, 0.8);
  // font-size
  --font-size-mini: 0.625rem;
  --font-size-xs: 0.8125rem;
  // box-shadow
  --box-shadow-primary: 2px 0 12px 0 rgba(0, 0, 0, 0.26);
  --box-shadow-toast: unset;
  // password
  --password-button-color: rgba(255, 255, 255, 0.4);
  // element-plus
  --el-color-primary: #000;
}
